<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-md-4 app-text-color">I am the app component page</div>
    <div class="col-md-4">I am the app component page</div>
    <div class="col-md-4 app-text-color">I am the app component page</div>
  </div>

  <hr>

  <div class="row background-pink">
    <div class="col-md-6">
      <app-server></app-server>
    </div>  
    <div class="col-md-6">
      <app-server></app-server>
    </div>  
  </div>

  <div class="row background-aqua">
    <div class="col-md-12">
      <app-servers></app-servers>
    </div>
  </div>

  <div class="row background-green">
    <div class="col-xs-2">
      <app-template-tester></app-template-tester>
    </div>
    <div class="col-xs-2 app-attribute-tester">
      <p>
        Attribute Tester Here
      </p>
    </div>
    <div class="col-xs-3">
      <app-jeff-hardy-component></app-jeff-hardy-component>
    </div>
    <div class="col-xs-3">
      <app-jeff-hardy-component></app-jeff-hardy-component>
    </div>
  </div>

  <div class="background-grey">
    <app-john-cena-component></app-john-cena-component>
  </div>

  <div class="background-green">
    <app-rassler-list-component></app-rassler-list-component>
  </div>

</div>