<div class="row">

  <div class="col-xs-3">
    <label>Game Title</label>
  </div> 
  <div class="col-xs-3">
    <input
      type="text"
      class="form-control"
      [(ngModel)] = "name"
      (ngModelChange)="onModelChange"
    >
  </div> 
  <div class="col-xs-3">
    <label>Game Rating</label>
  </div> 
  <div class="col-xs-3">
    <input
      type="text"
      class="form-control"
      [(ngModel)] = "rating"
    >
  </div> 
  <br>
  <div class="col-xs-12">
    <button
      class="btn btn-primary"
      (click) = "onAddGame()"
    >Add Game
    </button>
  </div>

</div>